@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Stylings for 360px devices */

.myUserData {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #1e1e1e;
  color: crimson;
  font-family: 'Montserrat', sans-serif;
  z-index: 15;
}

.navbarBrand {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.btnGetUsers {
  outline: none;
  border: 2px solid crimson;
  background-color: white;
  color:red;
  padding: 0.4rem 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.btnGetUsers:hover {
  border-color: tomato;
  background-color: white;
}

.userDataHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  font-family: 'Poppins', sans-serif;
  background-color:rgba(0, 0.3, 1, 0.5);
  padding: 1.5rem;
  width: 60%;
  border-radius: 0.2rem;
  transition: 0.4s;
  margin: auto;
  border-radius: 20px;
}

.userInfo:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  transform: scale(1.05);
  background-color: orangered;
  color: white;
}

.userImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  transform:scale(1);
  transition: transform 0.5s ease;
  overflow: hidden;
}
.userImg:hover {
  transform:scale(1.2);
  }

.userName, .userEmail {
  margin: 0;
}

/* Media Queries Starts */

/* Stylings for 768px devices */
@media (min-width: 768px) {

  .userDataHolder {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .userInfo {
    width: 40%;
  }
}

/* Styling for 1200px devices */
@media (min-width: 1200px) {
  .userInfo {
    width: 26%;
  }
}